html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#wrapper{
	width:100%;
	height:100%;
}

.paintkit{
 	background-color: grey;
 	float:left;
 	height:100%;
 	width: 2.5%;
 }

.paintkit button{
	padding: 4px;
	background-color: #686868;
	color: white;
	width: 100%;
	display: block; 
}

.canvas {
	background-color: white;
	height:100%;
	width:97.5%;
	float:right;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    margin:0 auto;
}

.ColorPicker {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.ColorPicker-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.ColorPreview{
	width:100%;
	height:25%;
}

.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}